src/main/mule/jenkins-cicid.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="07811d7e-7804-4e21-811b-ff222b53a89a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="534d862a-23ff-49fe-b824-3e74e8047c81" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="jenkins-cicidFlow" doc:id="25938409-65ac-46c0-8c3a-e9f7013cafe3" >
		<http:listener doc:name="Listener" doc:id="9547f540-0a73-4d55-96f6-eeea1c6ad01c" config-ref="HTTP_Listener_config" path="/tz/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="c76c88fb-f585-4727-acb2-b92e91a4fadb" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="9890ec7c-66e2-4bcb-9634-9863394c4b82" message="processed"/>
	</flow>
</mule>
